body {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header,
  nav,
  main,
  aside,
  footer {
    padding: 12px;
  }
  
  header {
    background-color: tomato;
  }
  
  nav {
    background-color: coral;
  }
  
  main {
    background-color: moccasin;
  }
  
  aside {
    background-color: sandybrown;
  }
  
  footer {
    background-color: slategray;
  }
  
  body > div {
    display: flex;
    flex: 1; 
  }
  
  nav {
    width: 100px;        
  }
  
  
  main {
    flex: 1;            
  }
  

  aside {
    width: 100px;        
  }
  

  header,
  footer {
    width: 100%;
  }
  